extends ../layout

block content
    .container-fluid
        .row
            // sidebar for options
            .col.col-md-3
                .nav-item
                    h5 Filters
                hr

            // sidebar for showing books
            .col.col-md
                
